/SxServer/nbproject/private/
/SxServer/SxServer-ejb/nbproject/private/
/SxServer/SxServer-war/nbproject/private/
/SxServer/SxShop/nbproject/private/
/SxServer/SxServer-ejb/build/
/SxServer/SxServer-ejb/dist/
/SxServer/SxServer-war/build/
/SxServer/SxServer-war/dist/
/SxServer/build/
/SxServer/dist/